@page
@model BreweryRatings.Pages.BusinessLicensePageModel
@{
    ViewData["Title"] = "BusinessLicensePage";
    var businessLicenseOwners = (List<BusinessLicenseOwnerNamespace.BusinessLicenseOwner>)ViewData["BusinessLicenseOwners"];
}
    <div class="container">
        <h1>Business Licenses</h1>
        <table class="table table-bordered" style="border-color:black">
            <thead class="thead-dark">
                <tr>
                    <th>Account Number</th>
                    <th>Business Name</th>
                    <th>Owner First Name</th>
                    <th>Owner Last Name</th>
                    <th>License Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (BusinessLicenseOwnerNamespace.BusinessLicenseOwner businessLicense in businessLicenseOwners)
                {
                    <tr class="table-secondary">
                        <td>@businessLicense.AccountNumber</td>
                        <td>@businessLicense.DoingBusinessAsName</td>
                        <td>@businessLicense.OwnerFirstName</td>
                        <td>@businessLicense.OwnerLastName</td>
                        <td>@businessLicense.LicenseNumber</td>
                    </tr>
                    <tr>
                        <td colspan="6"> </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>