@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var businessesWithReviewsMap = (IDictionary<Yelp.Business, ReviewNamespace.Review[]>)ViewData["BusinessesWithReviewsMap"];
    var titleCity = ViewData["TitleCity"];
}
<div class="text-center">
    <h1 class="display-4">Top 20 Breweries near @titleCity with Reviews</h1>
    <hr />

    <form method="get">
        Enter the City to search: <input asp-for="Location" />
        <button type="submit" value="Submit">Submit</button>
    </form>
    <p>Examples: "New York City", "NYC", "350 5th Ave, New York, NY 10118"</p>

    <table width="100%" class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Brewery Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Rating</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>URL</th>
                <th>Reviews</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Yelp.Business business in businessesWithReviewsMap.Keys)
                {
                    <tr align="left">
                        <td><strong>@business.Name</strong></td>
                        <td>@business.Location.Address1</td>
                        <td>@business.Location.City</td>
                        <td>@business.Location.State</td>
                        <td>@business.Rating</td>
                        <td>@business.Coordinates.Latitude</td>
                        <td>@business.Coordinates.Longitude</td>
                        <td><a href="https://www.yelp.com@(business.Url.AbsolutePath)">https://www.yelp.com@(business.Url.AbsolutePath)</a></td>
                        <td><a href="#">Get Reviews</a></td>
                    </tr>
                    foreach (ReviewNamespace.Review review in businessesWithReviewsMap[business])
                    {
                        <tr align="left">
                            <td colspan="2"><a href="@(review.Url.AbsoluteUri)">@(review.User.Name)'s Review:</a></td>
                            <td colspan="7">@review.Text</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="6" class="gfg"> </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@ViewData["TitleCity"] = titleCity;