@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var businessesWithReviews = (List<Yelp.BusinessWithReview>)ViewData["BusinessesWithReviews"];
    var titleCity = ViewData["TitleCity"];
}
<div class="table-responsive">
    <h1>Top 20 Breweries near @titleCity with Reviews</h1>
    <hr />

    <form method="get">
            Enter the City to search: <input asp-for="Location"/>
            <button type="submit" value="Submit">Submit</button>
    </form>
    <p>Examples: "New York City", "NYC", "350 5th Ave, New York, NY 10118"</p>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr><th colspan="2">Brewery Name</th><th>Address</th><th>Rating</th><th>Latitude</th><th>Longitude</th></tr>
        </thead>
        @{ 
            foreach(Yelp.BusinessWithReview businessWithReview in businessesWithReviews) {
                <tr class="table-secondary">
                    <td><strong><a href="https://www.yelp.com@(businessWithReview.Url.AbsolutePath)">@(businessWithReview.Name)</a></strong></td>
                    <td><img src="@businessWithReview.ImageUrl" class="img-fluid border" alt="@businessWithReview.Name" width="175" height="175"></td>
                    <td>@businessWithReview.Location.Address1, @businessWithReview.Location.City, @businessWithReview.Location.State</td>
                    <td><span class="stars">@businessWithReview.Rating</span></td>
                    <td>@businessWithReview.Coordinates.Latitude.ToString("0.0000")</td>
                    <td>@businessWithReview.Coordinates.Longitude.ToString("0.0000")</td>
                </tr>
                foreach(ReviewNamespace.Review review in businessWithReview.Reviews) {
                <tr align="left">
                    <td colspan="1"><a href="@(review.Url.AbsoluteUri)">@(review.User.Name)'s Review:</a></td>
                    <td colspan="5">@review.Text</td>
                </tr>
                }
                <tr>
                    <td colspan="6"> </td>
                </tr>
            }
            }
    </table>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>